@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

:root {
    --main-theme-color: #4e9cf5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-color: var(--main-theme-color);
    min-width: 100vw;
    min-height: 110vh;
    max-height: 110vh;
    overflow: hidden;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid transparent;
}

.sidenav {
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 60px;
    z-index: 1;
    top: 0px; left: 0px;
    background-color: #072861;
    overflow: hidden;
    box-shadow: -.1rem 0rem 2rem #000;
}

.lowsidenav {
    margin-bottom: 40px;
}

.sidenav a {
    padding: 30px 8px 15px 10px;
    color: #818181;
    display: block;
}

.lowsidenav a {
    padding: 3px 8px 3px 10px;
    color: #818181;
    font-size: 20px;
}

.sidenav a i {
    font-size: 25px;
}

.lowsidenav a i {
    font-size: 17px;
}

.sidenav a:hover {
    color: var(--main-theme-color);
    text-decoration: none;
    transform: scale(1.2);
    animation: none;
}

.sidenav .lowsidenav a:hover {
    color: var(--main-theme-color);
}


.sidenav img {
    top: -1px; left: -10px;
    width: 79px;
    height: 79px;
    z-index: 1;
    position: fixed;
}

.sidenav h1 {
    top: 80px; left: 3px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: var(--main-theme-color);
    z-index: 100;
    position: fixed;
    border-top: 1.5px solid lightgrey;
}

.navHover a::after {
    content: '';
    font-size: 8px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.navHover a:first-child::after {
    content: 'HOME';
    margin-left: -26px;
    margin-top: 7px;
}
.navHover a:first-child + a::after {
    content: 'TIMER';
    margin-left: -28px;
    margin-top: 7px;
}
.navHover a:first-child + a + a::after {
    content: 'PROFILE';
    margin-left: -30px;
    margin-top: 7px;
}

.navHover a:hover i{
    opacity: 0;
}

.navHover a:hover::after{
    opacity: 1;
}

.mobileNav_Container {
    top:0; right:0;
    position: fixed;
    z-index: 5;
    visibility: hidden;
    outline: none !important;
}

.hamburgerStyle {
    background-color: white !important;
}


p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/* Form Background */
.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.wrap-contact100 {
  width: 500px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

/* Form */

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}



.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--main-theme-color);
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}




textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

/* Submit Button */

.wrap-contact100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -100;
  width: 300%;
  height: 100%;
  background: var(--main-theme-color);
  top: 0;
  left: -100%;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: white;
  line-height: 1.2;
}

/* .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
} */

.contact100-form-btn i {
  transition: all 0.4s;
}
.contact100-form-btn:hover i {
  transform: translateX(10px);
}


@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/* Dropdown menu */
.select2-container--open .select2-dropdown {
  z-index: 1251;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  background-color: white;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.select2-dropdown--above {top: -30px;}
.select2-dropdown--below {top: 8px;}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: var(--main-theme-color);
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: var(--main-theme-color);
  color: white;
}

.select2-results__options {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

@media screen and (max-width: 1200px) {
    .ytVid {width: 350px; height: 200px;}
}

@media screen and (max-width: 1000px) {
    .tagContainer {visibility: hidden;}
    #aboutContainer {
        left: 15vw;
    }
}

@media screen and (max-width: 700px) {
    .sidenav a {font-size: 25px;}
    /* Need important for sidenav visibility to override js visiblity function */
    .sidenav {visibility: hidden;}
    .mobileNav_Container {visibility: visible;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-height: 800px) {
    .sidenav {margin-top: 3vw;}
    .lowsidenav {margin-top: -10vw;}
}