# Nix
result
result-*

# macOS
.DS_Store
node_modules

#npm/Jest tests
package-lock.json
package.json

#Jet Brains IDE
.idea

#VS Code IDE
.vscode

# Python
__pycache__

# Qemu
*.qcow2

# Sqlite
*.db
*.sqlite
server.db
