<!DOCTYPE html>
<head>
    <!-- page info here -->
      <title>MASSIVE MUSCLES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/CSS/main.css">
    <link rel="stylesheet" href="../../static/CSS/login.css"/>
    


</head>


<!-- NAVBAR START... basic navbar from https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/Flask/templatesplates/index.html">Massive Muscles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<!-- navbar contents/items start here: -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
        <!-- regular navbar items -->
            <li class="nav-item">
                <a class="nav-link" href="../../../test/frontend/timer.html">Timer</a>
            </li>
        <!-- dropdown item start -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="healthTracker.html">Track Calories</a>
                    <a class="dropdown-item" href="healthTracker.html">Calculate BMI or Body Fat</a>
                </div>
            </li>
    <!-- dropdown item end -->
        </ul>
    <!-- right aligned login/signup buttons -->
        <a href="#" class="accountBtn btn mr-2">Log in</a> <!-- the mr-2 is the space between buttons -->
        <a href="profile.html" class="accountBtn btn">Register</a>
    </div>
</nav>
<!-- NAVBAR END -->



<footer>
    www.massivemuscles.com
</footer>


<body>

    <div id="muscleBanner"> 
        <img class="banner" src="../../static/images/muscleBanner.jpg">
       </div>

<div id="login-card" class="card text-center mx-auto" style="width: 50%">
    <div class="card-header bg-primary">
        <ul class="nav nav-tabs card-header-tabs">
        </ul>
    </div>
    <div class="card-body" id="loginBody">
        <h5 class="card-title">Registration</h5>
        <form method="post">
            <label for="username">Username</label><br>
            <input class="form-control mx-auto" placeholder="Username Required" name="username" id="username" required
                   style="width: 25%"><br>
            <label for="password">Password</label><br>
            <input class="form-control mx-auto" placeholder="Password Required" type="password" name="password"
                   id="password" required style="width: 25%"><br>
            <button class="btn btn-primary" type="submit" value="Register">Register</button>
            <br>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>





