{% macro post(content, author, datetime) -%}
  <div class="pst-Container bg-dark">
    <div class="pst-Container_Content text-light">{{content}}</div>

    <div class="pst-Container_Metadata">
      <div class="pst-Metadata_Author">
        <span class="text-info">{{author}}</span>
      </div>

      <div class="pst-Metadata_Time">
        <span class="text-info">{{datetime}}</span>
      </div>
    </div>
  </div>
{%- endmacro %}
