{% macro thread_tag(tag) -%}
  <div class="thd-Misc-Tag">
    <span class="text-primary">{{tag}}</span>
  </div>
{%- endmacro %}

<div class="bg-dark thd-Container">
  <div class="thd-Title">
    <span class="text-light thd-Title_Label">Lorem ipsum</span>
    <span class="text-info thd-Title_Author">Author</span>
  </div>

  <div class="thd-Misc">
    {{ thread_tag('Placeholder') }}
  </div>

  <div class="thd-Flexer"></div>
</div>
