<div class="container-sm text-center tmr-Container">
  <!-- SVG-fu from https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ -->
  <svg class="img-fluid tmr-Outline" viewBox="0 0 200 200">
    <g>
      <circle cx="100" cy="100" r="50"></circle>
      <path stroke-dasharray="123 283" class="tmr-Path" d="
    M 100, 100
    m -45, 0
    a 45,45 0 1,0 90,0
    a 45,45 0 1,0 -90,0
  "></path>
    </g>
  </svg>

  <div class="tmr-Time_Container">
    <span class="tmr-Time_Label">MM:SS</span>
  </div>
</div>
