@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');

:root {
    --main-theme-color: #4e9cf5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-color: var(--main-theme-color);
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid transparent;
}

.sidenav {
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 60px;
    z-index: 1;
    top: 0px; left: 0px;
    background-color: #072861;
    overflow: hidden;
    box-shadow: -.1rem 0rem 2rem #000;
}

.lowsidenav {
    margin-bottom: 40px;
}

.sidenav a {
    padding: 30px 8px 15px 10px;
    color: #818181;
    display: block;
}

.lowsidenav a {
    padding: 3px 8px 3px 10px;
    color: #818181;
    font-size: 20px;
}

.sidenav a i {
    font-size: 25px;
}

.lowsidenav a i {
    font-size: 17px;
}

.sidenav a:hover {
    color: var(--main-theme-color);
    text-decoration: none;
    transform: scale(1.2);
    animation: none;
}

.sidenav .lowsidenav a:hover {
    color: var(--main-theme-color);
}

.sidenav h1 {
    top: 80px; left: 3px;
    font-size: 25px;
    color: var(--main-theme-color);
    z-index: 100;
    position: fixed;
    border-top: 1.5px solid lightgrey;
}

.navHover a::after {
    content: '';
    font-size: 8px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.navHover a:first-child::after {
    content: 'HOME';
    margin-left: -26px;
    margin-top: 7px;
}
.navHover a:first-child + a::after {
    content: 'TIMER';
    margin-left: -28px;
    margin-top: 7px;
}
.navHover a:first-child + a + a::after {
    content: 'PROFILE';
    margin-left: -30px;
    margin-top: 7px;
}

.navHover a:hover i{
    opacity: 0;
}

.navHover a:hover::after{
    opacity: 1;
}

.mobileNav_Container {
    top:0; right:0;
    position: fixed;
    z-index: 5;
    visibility: hidden;
    outline: none !important;
}

.hamburgerStyle {
    background-color: white !important;
}


p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/* Form Background */
.wrap-contact100 {
    width: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 55px 45px 55px;
    box-shadow: -.1rem 0rem 2rem #000;
    margin: 0 auto 10% auto;
}

/* Form */

.form {
    width: 100%;
}

.form-title {
    display: block;
    font-size: 40px;
    color: var(--main-theme-color);
    line-height: 1.2;
    width: 510px;
    margin-left: -60px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: #072861;
    position: relative;
    font-family: 'Bebas Neue', cursive;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 3px solid var(--main-theme-color);
    margin-bottom: 27px;
}

.label-input {
    font-size: 25px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

.input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 13px;
    color: #333333;
    line-height: 2;
    padding: 0 5px;
}

/* Submit Button */

.wrap-contact100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.contact100-form-bgbtn {
    position: absolute;
    z-index: -100;
    width: 300%;
    height: 100%;
    background: var(--main-theme-color);
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.contact100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: white;
    line-height: 1.2;
}

.contact100-form-btn i {
    transition: all 0.4s;
}
.contact100-form-btn:hover i {
    transform: translateX(10px);
}


@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 72px 15px 65px 15px;
    }
}

/*  Health Tracker */
#trackerContainer {
    margin: 15% auto;
    top: 50%; left: 50%;
    width: 640px;
    padding: 1rem 2rem;
    background: #fafafa;
    box-shadow: -.1rem 0rem 2rem #000;
    border-radius: 5px;
}
.title {
    font-weight: 100;
    color: var(--main-theme-color);
    margin:-1rem -2rem 1rem;
    padding: 1rem 2rem;
    background:#072861;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    text-align: center;
    overflow:hidden;
}

.title .fa {
    color: var(--main-theme-color);
    position: absolute;
    left: 1rem;
    top: -.1rem;
    font-size: 4rem;
}

.entry, .new {
    font-size: 0;
    position: relative;
}

.entry + .entry {
    margin-top: 2.25%;
}

.long, .short {
    font-size: .8rem;
    display:inline-block;
    margin: 0 2.25% 0 0;
}

.header {
    margin: -1rem -2rem 1rem;
    border-bottom: 1px solid white;
    padding: 1rem 2rem;
    font-weight: bold;
}

.header .long, .header .short {
    font-size: .65rem;
}

.long { 
    width: 40%; 
}

.short {
    width: 12%;
}
.short:last-child {
    margin-right: 0;
}

.totals {
    color: rgba(black, .65);
    margin: 1.5rem -2rem;
    background:rgba(black, .075);
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
    border-left: 0;
    border-right: 0;
    padding: 1rem 2rem;
    margin-right: -17px;
}

.totals .long, .totals .short {
    font-weight: 900;
    font-size: 1.2rem;
}

.totals .long {
    font-weight: 400;
    text-align: right;
}

.totals .short {
    text-align: left;
}

.fade-transition {
    transition: all .3s ease;
    opacity: 1;
    height: 1.5rem;
}

.fade-enter, .fade-leave {
    opacity: 0;
    height: 0;
}

input {
    transition: all .15s ease-in-out;
    margin: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: .15rem;
    color: rgba(black, .5);
}

input:hover {
    color: rgba(black, .75);
    border-color: rgba(black, .75);
}

input:focus {
    outline: none;
    border-bottom: 3px solid black;
    margin-bottom: -2px;
}

.material-button, .material-delete {
    transition: all .15s ease-in-out;
    background: hsla(159,54%,76%,1);
    border: none;
    background:#072861;
    font-size: 3rem;
    position: absolute;
    right: -3.25rem;
    top: -.75rem;
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    color: #fafafa;
}

.material-button:hover {
    background: var(--main-theme-color);
    cursor: pointer;
}
.material-button:active, .material-delete:active {
    top:-.7rem;
    outline: 0;
    box-shadow: none;
}

.material-delete {
    font-size: 1rem;
    line-height: 1rem;
    height: 2rem;
    width: 2rem;
    top: 0;
    right: -1.5rem;
    transform: rotate(45deg);
    background: none;
    color: lightgray;
    box-shadow: none;
}
.material-delete:hover {
    background: #072861;
    color: #fafafa;
    box-shadow: none;
    cursor: pointer;
}
.material-delete:active {
    color: #B71C1C;
    background: transparent;
    top: 0;
}

/* tdee form stuff start */
.tdee-title {
    /* same as Iain's form-title so page style matches. Has to be
       separate name so BMI calculate results don't also show on TDEE */
    display: block;
    font-size: 40px;
    color: var(--main-theme-color);
    line-height: 1.2;
    width: 510px;
    margin-left: -60px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: #072861;
    position: relative;
    font-family: 'Bebas Neue', cursive;
}

.tdee-box {
    width: 450px;
    background: #ffffff;
    border-radius: 10px;
    padding: 0px 25px 15px 25px; /* top right bottom left */
    overflow: auto;
    box-shadow: -.1rem 0rem 2rem #000;
    margin: 0 auto 15% auto;
}

.gender-radio {
    font-size: 20px;
    margin: 5px 65px 5px 20px; /* top right bottom left */
}
/* tdee form stuff end */

/* Media Queries */
@media screen and (max-width: 1200px) {
    .ytVid {width: 350px; height: 200px;}
}

@media screen and (max-width: 1000px) {
    .tagContainer {visibility: hidden;}
    #aboutContainer {
        left: 15vw;
    }
}

@media screen and (max-width: 700px) {
    body{zoom: 80%;}
    .sidenav a {font-size: 25px;}
    /* Need important for sidenav visibility to override js visiblity function */
    .sidenav {visibility: hidden;}
    .mobileNav_Container {visibility: visible;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 500px) {
    body{zoom: 50%;}
}

@media screen and (max-height: 800px) {
    .sidenav {margin-top: 3vw;}
    .lowsidenav {margin-top: -10vw;}
}