@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');

:root {
    --main-theme-color: #072861;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgAnimation {
    z-index: -2;
    position: fixed;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    top: 0; left: 0; right: 0; bottom: 0;
}

#loginBody {
    background:var(--main-theme-color);
}

.accountBtn {
    color: white;
}

@media screen and (max-width: 1200px) {
    #bgAnimation {
        visibility: hidden;
    }
    .banner {
        visibility: hidden;
    }
}

@media screen and (max-width: 700px) {
    #wrapper{
        width: 450;
        height: 100;
    }
}

@media screen and (max-height: 700px) {
    footer{
        visibility: hidden;
    }
}

#login-card {
    left: 25%;
    top: 35%;
    position: absolute;
}

