.pg-Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.frm-Container {
  /* Inherit .navbar padding for consistent look */
  padding: .5rem 1rem;
}

.frm-Category {
  padding: .25rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  border-bottom: 2px white solid;
}

.frm-Category h2 {
  /* We don't want any margins */
  margin: 0;
}

.thd-Container_Root {
  position: relative;
  width: 100%;
  height: 100%;
}

.thd-Container_Root a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100
}

.thd-Container {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  height: 100%;
  max-height: 10vh;
}

.thd-Title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.thd-Title_Label {
  /* Inherit h5 bootstrap CSS */
  font-size: 1.25rem;
  font-weight: 500;
}

.thd-Title_Author {
  /* Inherit h6 bootstrap CSS */
  font-size: 1rem;
  font-weight: 500;
}

.thd-Misc {
  /* The aim is scrollable without obtrusive scollbar */
  overflow: scroll;
  scrollbar-width: none;
}

.thd-Misc::-webkit-scrollbar {
  display: none;
}

.thd-Misc-Tag {
  width: 100%;
}

.thd-Misc-Tag::before {
  content: '|';
  /* .text-success */
  color: #28a745 !important;
}
