<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- page info here -->
        <title>MASSIVE MUSCLES</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- bootstrap via cdn, page font, custom css -->
        <link rel="stylesheet" href="https://unpkg.com/@popperjs/core@2">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../static/CSS/muscleDesign.css">
        <link rel="stylesheet" type="text/css" href="../../static/CSS/main.css">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
    </head>
    <body>
<!-- NAVBAR START... basic navbar from https://getbootstrap.com/docs/4.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Massive Muscles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <!-- navbar contents/items start here: -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('web.home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                <!-- regular navbar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.timer') }}">Timer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.exercises') }}">Muscle Information</a>
                    </li>

                <!-- dropdown item start -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Health Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('web.healthTracker') }}">Track Calories</a>
                            <a class="dropdown-item" href="{{ url_for('web.healthTracker') }}">Calculate BMI or Body Fat</a>
                        </div>
                    </li>
            <!-- dropdown item end -->
                </ul>
            <!-- right aligned login/signup buttons -->
                <a href="{{ url_for('web.login') }}" class="accountBtn btn mr-2">Register</a> <!-- the mr-2 is the space between buttons -->
                <a href="{{ url_for('web.profile') }}" class="accountBtn btn">Profile</a>
            </div>
        </nav>
    <!-- NAVBAR END -->

        <div id="page">
        <!-- banner w/ styling -->
            <img class="banner" src="../../static/images/muscleBanner.jpg">
            <div class="blobContainer">
                <div id="wrapper">
                    <div id="content">
                        <p><h2>Calorie Tracker</h2><br>
                        <!-- Button for calorie modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#calorieModal">
                          Learn More
                        </button></p>
                    </div>
                </div>
                <div id="wrapper">
                    <div id="content">
                        <p><h2>BMI and Body Fat Calculator</h2><br>
                        <!-- Button for BMI/BF modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#bmiModal">
                          Learn More
                        </button></p>
                    </div>
                </div>
                <div id="wrapper">
                    <div id="content">
                        <p><h2>Timer</h2><br>
                        <!-- Button for Timer modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#timerModal">
                          Learn More
                        </button></p>
                    </div>
                </div>
            </div>
        </div>

<!-- basic modal from Bootstrap, tweaked for usability -->
    <!-- START Calories Modal -->
    <div class="modal fade" id="calorieModal" tabindex="-1" role="dialog" aria-labelledby="calorie_modal_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Calorie Tracker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              Our calorie tracker offers an easy and intuitive way to track progress and how well you're able to meet your goals on a day to day basis! You can set a goal, as well as record individual entries throughout the day to see your daily totals, and how they compare to your goal over time!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <a href="{{ url_for('web.healthTracker') }}" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Visit the Calorie Tracker page!">Continue</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Calories Modal -->

    <!-- START Calculator(BMI/BF) Modal -->
    <div class="modal fade" id="bmiModal" tabindex="-1" role="dialog" aria-labelledby="bmi_modal_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">BMI and Body Fat Calculator</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              Body Mass Index, or BMI, is derived with respect to your weight and height. An abnormal BMI could indicate underlying health issues. We can also calculate your body fat percentage (+/- 3%) using the same standards as the US Navy. In most cases, this process is more accurate than skinfold calipers!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <a href="{{ url_for('web.healthTracker') }}" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Visit the Calculator page!">Continue</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Calculator(BMI/BF) Modal -->

    <!-- START Timer Modal -->
    <div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="timer_modal_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Timer Tool</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            With our timer tool, you can time and save lap times or use it as you would a typical stopwatch! The benefits of using our integrated timer is the ability to more easily save and record workout lengths or lap times to your profile.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <a href="#timer.html" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Visit the Timer page!">Continue</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Timer Modal -->


        <!-- Background Animation -->
        <div id="bgAnimation"></div>
        <!-- put page footer here -->
        <footer>
            www.massivemuscles.com
        </footer>
        <!-- Vanta BG Animation plugin -->
        <script src="../../static/JS/p5.min.js"></script>
        <script src="../../static/JS/vanta.topology.min.js"></script>
        <!-- Main JS -->
        <script src="../../static/JS/main.js"></script>
        <!-- jQuery & Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>

<!-- Bootstrap setup guide: https://websitesetup.org/bootstrap-tutorial-for-beginners/ -->
