<!DOCTYPE html>
<head>
    <!-- page info here -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Home</title>
    {% endif %}

    {% block headers %}
    {% endblock %}
</head>

<body>
    <!-- NAVBAR START... basic navbar from https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('web.home') }}">Massive Muscles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <!-- navbar contents/items start here: -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                     <!-- regular navbar items -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('web.home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.timer') }}">Timer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.exercises') }}">Muscle Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.musicPlayer') }}">Music Player</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.healthTracker') }}">Health Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.recipes') }}">Find Recipes</a>
                    </li>
                    <!-- dropdown item start -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('web.home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.login') }}">Login</a>
                    </li>
                {% endif %}
        <!-- dropdown item end -->
            </ul>
        </div>
    </nav>
    <!-- NAVBAR END -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith%}
    {% block content %}{% endblock %}

</body>