<!doctype html>
<html lang="en">
<head>		
	<!-- Meta Tags -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<title id="pagetitle">Music Player</title>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" href="../../static/CSS/musicPlayer.css">
	<script src="https://kit.fontawesome.com/1951006a4b.js" SameSite="None" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body onload="">
	<!-- Canvas -->
	<div class="canvas-wrap">
		<canvas id="visualizer_render">
        </canvas>

        <!-- NAVBAR START... basic navbar from https://getbootstrap.com/docs/4.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{ url_for('web.home') }}">Massive Muscles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <!-- navbar contents/items start here: -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('web.home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                <!-- regular navbar items -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.timer') }}">Timer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.exercises') }}">Muscle Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.musicPlayer') }}">Music Player</a>
                    </li>
                <!-- dropdown item start -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Health Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('web.healthTracker') }}">Track Calories</a>
                            <a class="dropdown-item" href="{{ url_for('web.healthTracker') }}">Calculate BMI or Body Fat</a>
                        </div>
                    </li>
            <!-- dropdown item end -->
                </ul>
            <!-- right aligned login/signup buttons -->
                <a href="{{ url_for('web.login') }}" class="accountBtn btn mr-2">Register</a> <!-- the mr-2 is space between buttons -->
                <a href="{{ url_for('web.profile') }}" class="accountBtn btn">Profile</a>
            </div>
        </nav>
    <!-- NAVBAR END -->

    <!-- Logo -->
        <div class="logo">
            <img id="logoID" src="../../static/images/muscleBanner.jpg" alt="Massive Muscles">
        </div>
		<!-- Audio Controls -->
		<div class="navControl">
			<div clas="navContainer">
				<div class="form-group">
					<label for="textbox"><a href="https://soundcloud.com/discover" target="_blank"><i class="fab fa-soundcloud soundcloud"></i></a></label>
					<h2>Search song here:</h2>
					<input
						id="user_URL"
						type="textbox"
						class="form-control textbox"
						name="URL"
						value="https://soundcloud.com/user/track"
						onclick=""
					/>
				</div>
				<div class="middleLine"></div>
				<input  onmouseover="mouseOver = true" onmouseout="mouseOver = false" onclick="" type="range" id="audioSlider"/>
				<div class="controlsContainer">
					<button type="button" class="button" id="toggle" onclick="">
						&#x23f5;
					</button>
					<button type="button" class="button" id="submitButton" onclick="">
						Find Track
					</button>
					<h1 id="audioTimer"></h1>
				</div>
			</div>
		</div>
	</div>
	<!-- Track Info -->
	<div class="trackInfo">
		<img id="artwork" width="150" height="150">
		<h1 id="artistname"></h1>
		<h1 id="songname"></h1>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>