{% extends "web/layout.html" %}
    {% block headers %}
        <!--    bootstrap CSS from CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Local style sheets -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/profile.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/main.css')}}">

        <!--    bootstrap java script from CDN-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!--    bootstrap chart.js script from CDN-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {% endblock headers %}
    {% block content %}
        <!--   profile template starts here-->
        <div class="container mt-0">
          <div class=" shadow-sm row ml-0 mr-0 pt-4 pb-3 pl-0 rounded-top title-color">
            <!-- user photo -->
            <img src="{{photo}}" class="shadow-lg rounded-circle ml-5 " id="userPhoto" width="100px" height="90px">
              <di>
                  <h3 class="pt-4 pl-3">{{current_user.username}}</h3>
                  <h6 class="pt-1 pl-3">{{current_user.email}}</h6>
              </di>

           </div>

            <!-- nav buttons for profile and settings -->
           <div class=" shadow-sm row ml-0 mr-0  pl-0 rounded-bottom title-color ">
             <ul class="nav nav-tabs  ml-5">
                  <li class="nav-item">
                    <a class="nav-link  active  border-bottom-0" href="{{ url_for('web.profile') }}">status</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('web.edit') }}">edit profile</a>
                  </li>
              </ul>
           </div>
          <div class="row pb-2">
                <div class="col mt-4">
                       <div class="col"></div>
                  <div class="shadow card mt-2 border-0 ">
                    <h5 class="card-header title-color">About</h5>
                    <div class="card-body">
                      <p class="card-text">{{current_user.about}}</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              {% if current_user.BMIs%}
                  <div id="generateData" >
                  </div>
              {% else %}
                  <div class="col mt-4">
                      <div class="col"></div>
                  <div class="shadow card mt-2 border-0 ">
                    <h5 class="card-header title-color">Generate data</h5>
                    <div class="card-body">
                      <button type="submit" id="generateData" class="btn btn-danger title-color pb-2 border-0 ">Generate data</button>
                    </div>
                  </div>
                </div>
              {% endif %}
           </div>
           <!--  Displayable charts -->
           <div class="row pb-2">
                <div class="col mt-4">
                  <div class="shadow card mt-2  ml-0 border-0">
                    <h5 class="card-header title-color">BMI chart</h5>
                    <div class="card-body">
                      <canvas id="BMIChart" class=""></canvas>
                    </div>
                  </div>
                </div>
           </div>
           <div class="row pb-2">
                <div class="col mt-4">
                  <div class="shadow card mt-2 border-0">
                    <h5 class="card-header title-color">Calorie intake chart</h5>
                    <div class="card-body">
                      <canvas id="calorieIntakeChart"></canvas>
                    </div>
                  </div>
                </div>
           </div>

           <script src="{{url_for("static", filename='JS/chartGenerator.js')}}" defer></script>
        </div>
    {% endblock content %}
